# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.spec
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Tooling
.direnv/
.env
.envrc

# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# FVM Version Cache
.fvm/

# Android-specific
/android/app/signatures.properties
/android/key.properties
/android/local.properties
/android/.gradle/
/android/app/local.properties
/android/app/shared_indexes/

# iOS/macOS-specific
/ios/.generated/
/ios/Flutter/Ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/macos/Flutter/Ephemeral/
/macos/Flutter/Generated.xcconfig
/macos/Flutter/flutter_export_environment.sh
/macos/Runner/GeneratedPluginRegistrant.h
/macos/Runner/GeneratedPluginRegistrant.m
# Python Build Artifacts
*.egg-info/
__pycache__/

# Scratchpad
test_dart.dart
